.navbar {
  background-color: #713491;
  color: #11cef6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #f8e03e;
  margin: 6px 0;
  transition: 0.4s;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.nav-line-break {
  width: 80%;
  border-top: 1px solid #11cef6;
  margin-bottom: 20px;
}

.nav-link {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0px;
  color: #713491;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #f8e03e;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  background-color: #fd46d6;
  color: #f8e03e;
}

.nav-link.active {
  background-color: #11cef6;
  color: #f8e03e;
}

@media only screen and (max-width: 767px) {
  .nav-toggle {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .nav-logo {
    margin: 0;
    justify-content: center;
  }

  .nav-links-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-links-wrapper.open {
    display: flex;
  }

  .nav-link {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    width: 250px;
    height: 100%;
    position: fixed;
  }
}
