.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100vh;
  transition: left 0.4s ease;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #713491;
}

.logo {
  margin-top: 20px;
  width: 90%;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  margin-bottom: 20px;
}

.nav-line-break {
  width: 100%;
  border-top: 1px solid #11cef6;
  margin-bottom: 20px;
}

.nav-link {
  width: 180px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color: #713491;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #f8e03e;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
  justify-content: center;
  display: flex;
}

.nav-link:hover {
  background-color: #fd46d6;
  color: #f8e03e;
}

.nav-link.active {
  background-color: #11cef6;
  color: #f8e03e;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 999;
    transition: left 0.4s ease;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-color: #713491;
  }

  .nav-line-break {
    display: none;
  }

  .logo {
    margin-top: 20px;
    width: auto;
    height: 100%;
  }

  .nav-link {
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    color: #713491;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: #f8e03e;
    border-radius: 5px;
    transition: background-color 0.4s ease, color 0.4s ease;
    justify-content: center;
    display: flex;
  }
}
