.App {
  display: grid;
  grid-template-areas: 
    "nav article";
  grid-template-rows: 100vh;  
  grid-template-columns: 200px 1fr;
  margin: 0;
  overflow-y: hidden;
  background-color: #f8e03e;
}

nav {
  grid-area: nav;
  background-color: #713491;
}

article {
  grid-area: article;
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .App {
    display: grid;
    grid-template-areas: 
      "nav"
      "article";
    grid-template-rows: 100px calc(100vh - 100px);  
    grid-template-columns: 1fr;
    overflow: hidden;
    background-color: #f8e03e;
  }
  
  nav {
    grid-area: nav;
    background-color: #713491;
  }
  
  article {
    grid-area: article;
    overflow-y: auto;
  }
}
